.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.App-header {
  background-color: #FBFFFE;
  color: #072739;
  padding-top: 25px;
  padding-bottom: 5px; 
  font-family: 'Josefin Sans', sans-serif;

}

.App-footer {

  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #072739;
  color: white;
  padding-left: 10px;
  padding-top:10px;
  text-align: left;
}

.App-link { 
  color: #09d3ac;
}

.Map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.Shop-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.Landing-page {
  height: 80vh;
  background-color: #FBFFFE;
  padding-top: 20px;
}

.Nav-bar {
  background-color: #FBFFFE;
}

.Nav-text {
  color: #072739;
}

.Landing-page-logo {
  font-family:'Monoton', cursive;
  color: #072739;
  font-size: 50px;
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
}

.Greeting-text {
  margin: auto;
  width: 50vw;
  text-align: left;
  padding-left: 10px
}

#Greeting-big-text {
  font-family: 'Bungee Shade', cursive;
  font-size: 36px
}

#Greeting-small-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px
}

.Featured-page { 
  height: 100vh;
  background-color: #072739;
  color: #FBFFFE;
}

input[type=text] {
  border-radius: 10px;
  background-color: #FBFFFE;
  border: 2px solid #072739; 
  padding: 10px 10px;
  outline: none;
  width: 50%;
  display: block;
  margin: auto
}

.Container {
  background-color: #FBFFFE;
}

.Greeting {
  padding-top: 10vh;
  font-size: larger;
  font-family: "Open Sans", sans-serif;
  color: #072739;
  font-weight: 200
}

.Login {
  border-radius: 10px;
  background-color: #072739;
  margin: auto;
  width: 40vw;
  padding-top: 20px;
  padding-bottom: 20px;

}

input[type=submit] {
  color: #FBFFFE;
  background-color: #072739;
  border-radius: 5px;
  display: block;
  margin: auto
}


.Search-column{
  padding-top: 20px;
  height: 100vh;
  overflow: scroll;
}

.Shop-card{
  padding-bottom: 20px;
}

input[type=password]{
  border-radius: 10px;
  background-color: #FBFFFE;
  border: 2px solid #072739; 
  padding: 10px 10px;
  outline: none;
  width: 50%;
  display: block;
  margin: auto
}

.Cafe-picture {
  display: block;
  /* margin: auto; */
  padding-top: 70px;
  padding-right: 5vw;
  width: 50vw;
  float: right
}

.How-to {
  float: left; 
  margin-left: 5vw;
  margin-top: 70px;
  padding-left: 20px;
  font-size: 24px;
  border-left: solid;
  border-color: #FBFFFE;
  text-align: left
}








